{% extends 'mailing/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">

                    <h4 class="card-title mb-0">Рассылка</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ object.message }}</h5>
                    <p>Время начала: {{ object.datetime_start }}</p>
                    <p>Время окончания: {{ object.datetime_finish }}</p>
                    <p>Периодичность: {{ object.get_period_display }}</p>
                    <p>Статус: {{ object.get_status_display }}</p>
                    <div class="text-right">
                        <a href="{% url 'mailing:mailing_edit' object.pk %}" class="btn btn-sm btn-outline-primary">Изменить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}