{% extends 'mailing/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-danger text-white">
                    <h4 class="card-title mb-0">Удалить рассылку</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Вы действительно хотите удалить рассылку "{{ object }}"?</p>
                        <div class="text-right">
                            <button type="submit" class="btn btn-danger">Подтвердить</button>
                            <a href="{% url 'mailing:mailing_list' %}" class="btn btn-warning">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}