{% extends 'schedule/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-1 pb-md-2 mx-auto text-center">
    <h1 class="display-4">Создание статьи</h1>
</div>
<main>
    <div class="album py-3 bg-body-tertiary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        <div class="card shadow">
                            <div class="card-body">
                                {% csrf_token %}
                                <p class="text-center mb-4">Вы уверены, что хотите удалить: {{ object.fullname }}</p>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-danger btn-lg">
                                        Удалить
                                    </button>
                                    <a type="button" class="btn btn-primary btn-lg mt-2" href="{% url 'schedule:client_list' %}">
                                        Отменить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}