{% extends 'schedule/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-3 pb-md-3 mx-auto text-center">
    <h1 class="display-4">Главная страница</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-normal">Интересное</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Всего выполнено рассылок: {{ newsletters_done_count }}</li>
                        <li>Рассылок в работе: {{ newsletters_active }}</li>
                        <li>Уникальных клиентов: {{ unique_clients }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for object in blogs_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-bold">{{ object.title|title }}</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top img-thumbnail w-100" src="{{ object.image_preview|mymedia }}"
                         alt="No Image">
                    <p class="card-text mt-3">{{ object.text|truncatechars:100 }}</p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <p class="card-text">Просмотров: {{ object.count_views }}</p>
                    <a type="button" class="btn btn-sm btn-primary me-2"
                       href="{% url 'blog:blog_detail' object.pk %}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}