{% extends 'schedule/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-1 pb-md-2 mx-auto text-center">
    <h1 class="display-4">Посты для рассылок
        <div class="float-end">
            <a type="button" class="btn btn-lg btn-block btn-outline-success"
               href="{% url 'schedule:textfornewsletter_form' %}">
                Создать
            </a>
        </div>
    </h1>
</div>
<main>
    <div class="album py-4 bg-body-tertiary">
        <div class="container text-start">
            {% for text in object_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ text.subject }}
                    </h5>
                    <p class="card-text">
                        {{ text.text }}</p>
                    <a type="button" class="btn btn-sm btn-block btn-outline-primary"
                       href="{% url 'schedule:textfornewsletter_update' text.pk %}">
                        Изменить
                    </a>
                    <a type="button" class="btn btn-sm btn-block btn-outline-danger"
                       href="{% url 'schedule:textfornewsletter_delete' text.pk %}">
                        Удалить
                    </a>
                </div>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

    </div>
</main>
{% endblock %}