{% extends 'mailing/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between mb-3">
        <h1 class="display-4">Клиенты</h1>
        <a href="{% url 'customers:customer_create' %}" class="btn btn-primary">Добавить нового</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Название компании</th>
                    <th scope="col">Email</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <th scope="row">{{ object.pk }}</th>
                    <td>{{ object.first_name }}</td>
                    <td>{{ object.company_name }}</td>
                    <td>{{ object.email }}</td>
                    <td>
                        <a href="{% url 'customers:customer_detail' object.pk %}" class="btn btn-sm btn-outline-primary">Подробнее</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center mt-3">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary mr-2">Предыдущая</a>
        {% endif %}
        <span class="pagination-info">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary ml-2">Следующая</a>
        {% endif %}
    </div>
</div>
{% endblock %}