{% extends 'mailing/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title mb-0">Клиент</h4>
                </div>
                <div class="card-body">

                    <h5 class="card-title">{{ object.email }}</h5>
                    <p>{{ object.first_name }}</p>
                    <p>{{ object.company_name }}</p>
                    <p>{{ object.description }}</p>
                    <div class="text-right">
                        <a href="{% url 'customers:customer_edit' object.pk %}" class="btn btn-sm btn-outline-primary">Изменить</a>
                        <a href="{% url 'customers:customer_delete' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}