{% extends "schedule/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Профиль пользователя</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Email: {{ object.email }}</h5>
                    <h5 class="card-title">Компания: {{ object.user_company }}</h5>
                    <h5 class="card-title">Статус: {{ object.is_active }}</h5>
                <div class="card-footer">
                    <a href="{% url 'users:user_list' %}" class="btn btn-primary">Назад к списку пользователей</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}