<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Меню</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:home' %}">Главная</a>

        {% if user.is_manager %}
        <a href="{% url 'users:user_list' %}" class="p-2 btn btn-outline-primary">Пользователи</a>
        {% endif %}

        {% if user.is_authenticated %}

            {% if not user.is_staff or user.is_superuser%}
                <a href="{% url 'customers:customer_list' %}" class="p-2 btn btn-outline-primary">Список клиентов</a>
                <a href="{% url 'mail_messages:message_list' %}" class="p-2 btn btn-outline-primary">Сообщения</a>
                <a href="{% url 'mailing:mailing_list' %}" class="p-2 btn btn-outline-primary">Рассылки</a>
                <a href="{% url 'mailing:log_list' %}" class="p-2 btn btn-outline-primary">Статистика</a>
            {% endif %}

            <a href="{% url 'blog:article_list' %}" class="p-2 btn btn-outline-primary">Блог</a>

            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="p-2 btn btn-outline-success">Админка</a>
            {% elif user.is_staff %}
                <a href="{% url 'admin:index' %}" class="p-2 btn btn-outline-success">Управление блогом</a>
            {% endif %}

            <a href="{% url 'users:profile' %}" class="p-2 btn btn-outline-success">Профиль</a>
            <a href="{% url 'users:logout' %}" class="p-2 btn btn-outline-success">Выйти</a>

        {% else %}

            <a href="{% url 'blog:article_list' %}" class="p-2 btn btn-outline-primary">Блог</a>
            <a href="{% url 'users:register' %}" class="p-2 btn btn-outline-primary">Регистрация</a>
            <a href="{% url 'users:login' %}" class="p-2 btn btn-outline-primary">Войти</a>

        {% endif %}
    </nav>
</div>